# Logs
*.log

# Dependency directories
node_modules/
*.tsbuildinfo
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.turbo